* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 201, 223);
}

#mainDiv {
  background-color: whitesmoke;
  width: 90%;
  height: 90%;
}

#mainHeader {
  background-color: teal;
  height: 20%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#secondaryDiv {
  display: flex;
  height: 80%;
  flex-direction: row;
}

/* navDiv */
#navDiv {
  background-color: tomato;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#filterList {
  background-color: white;
  flex: 3;
}

.listItem:hover {
  cursor: pointer;
}
.listItem {
  background-color: antiquewhite;
  border: 1px solid black;
  min-height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin: 10px 2px 10px 2px;
}

#sortList {
  background-color: green;
  flex: 1;
}



#toDoListDiv {
  background-color: violet;
  flex: 3;
  overflow-y: scroll;
}

.toDo {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#addToDoDiv {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border: 1px solid black;
  width: 100%;
  height: 30px;
}

.inputDiv label {
  font-size: 18px;
  font-weight: 700;
  margin: 0 10px 0 0;
}

.inputDiv input {
  height: 70%;
  font-size: 20px;
}

#addToDoDiv button {
  width: 3%;
  border-radius: 5px;
}
