*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

header {
  background-color: black;
}

#main {
  background-color: blue;
}

