* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#container-main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}

#container-main .grid-square{
    transition: background-color 0.1s;
    background-color: black;
}

.background-hovered{ 
    background-color: white;
}
